table {
  width: 100%;
}

#highScore {
  width: 50%;
}

#time {
  text-align: right;
  width: 50%;
}

#startQuiz,
#questions,
#endQuiz,
#scoreList {
  width: 200%;
  text-align: center;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

.button {
  width: 25%;
  color: black;
  border: 5px solid black;
  border-radius: 3px;
}

.button:hover {
  background-color: green;
}

li {
  padding-bottom: 5px;
}
